<div class="home-header">
    <div class="home-topic">HISTORY</div>
    <div class="home-btn-container">
        <a href="/preference"><button class="home-btn" type="submit">SEARCH FOR OTHER MATERIALS</button></a>
    </div>
</div>
<div class="grid-container">
    <% if(resources.length) { %>
       <% resources.slice(-5).reverse().forEach((data) => { %>
        <a class="res-link" href="<%= data.link %>" target="_blank" onclick="handleResourceClick(event, {courseId: '<%= data.Id %>', title: '<%= data.Title %>', link: '<%= data.CourseLink %>', image: '<%= data.CoursePicture %>', description: '<%= data.Description %>'})">
            <div class="card">
                <div class="img-container"><img src=" <%= data.image %> " alt=""></div>
                <div class="card-content">
                    <h2><%= data.title %></h2>
                    <p><%= data.description %></p>
                </div>
            </div>     
        </a>      
        <% }); %>
    <% } else { %>
    <div>{% empty %}</div>
    <% } %> 

    <!-- <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div> -->
</div>