<div class="home-header">
    <div class="home-topic">OUR RECOMMENDATION</div>
    <div class="home-btn-container">
        <a href="/preference"><button class="home-btn" type="submit">SEARCH FOR OTHER MATERIALS</button></a>
    </div>
</div>

<div class="grid-container">
    <% if(RecCourseData.length) { %>
        <% RecCourseData.slice(0, 12).forEach((data) => { %>
        <a class="res-link" href="<%= data.CourseLink %>" target="_blank" onclick="handleResourceClick(event, {courseId: '<%= data.Id %>', title: '<%= data.Title %>', link: '<%= data.CourseLink %>', image: '<%= data.CoursePicture %>', description: '<%= data.Description %>'})">
            <div class="card">
                <div class="img-container"><img src=" <%= data.CoursePicture %> " alt=""></div>
                <div class="card-content">
                    <h2><%= data.Title %></h2>
                    <p><%= data.Description %></p>
                    <p>Rating:  <%= data.Rating.toFixed(1) %> </p>
                </div>
            </div>     
        </a>      
        <% }); %>
    <% } else { %>
        <div class="no-results">
            <p>No results found. Please try a different search.</p>
            <button onclick="window.location.href='/preference'">Search Again</button>
        </div>
    <% } %> 
</div>



